<div class="fixed-header hidden">
	<div class="l-inner">
		<div class="b-logo fixed-logo">
			<img src="images/contact-logo.png" alt="Contact Logo"/>
		</div>
		<div class="b-buttons-wrap">
			<button class="b-button-sign">подписаться</button>
			<button class="b-button-sell m-button-sell_contact" ng-click="showCallbackPopup()">оставить заявку</button>
		</div>
		<div class="b-contacts">
			<p class="b-phone m-phone_contact phone-desktop" title="Телефон" onclick="">+7 (495) 104-51-02</p>
			<a href="tel:+74959567799" class="b-phone m-phone_contact b-phone-mobile" title="Телефон" onclick="ga('send', 'event', 'click number', 'click button'); yaCounter19895512.reachGoal('click number');">+7
				(495) 104-51-02</a>
			<a href="mailto:sales@kre.ru" class="b-email m-email_header" title="Email" onclick="ga('send', 'event', 'click email', 'click button'); yaCounter19895512.reachGoal('click email');">sales@kre.ru</a>
		</div>
	</div>
</div>