<footer class="b-footer">
	<div class="l-inner">
		<div class="b-footer_row">
			<div class="b-footer_column">
				<img src="images/logo-footer.png"/>
				<ul>
					<li><a class="print-ver" href="http://kre.ru/">Агентство элитной недвижимости</a></li>
					<li><a class="print-ver" href="http://www.kre.ru/offers/elitenew/">Элитные жилые комплексы</a></li>
					<li><a class="print-ver" href="http://www.kre.ru/offers/comsell/">Коммерческая недвижимость Москвы</a></li>
				</ul>
			</div>
			<div class="b-footer_column">
				<ul>
					<li>Москва, ул. Арбат, д. 13/36</li>
					<li>Телефон: +7 (495) 104-51-02</li>
					<li>E-mail:&nbsp;<a href="mailto:sales@kre.ru" class="b-email m-email_footer" onclick="ga('send', 'event', 'click email', 'click button'); yaCounter19895512.reachGoal('click email');" title="Email">sales@kre.ru</a></li>
					<!--<li><a class="m-email_footer print-ver" href="javaScript:window.print();">Версия для печати</a></li>-->
				</ul>
			</div>
			<div class="b-footer_column">
				<button class="b-button-callback m-button-callback_footer m-button-callback_footer-contact" ng-click="showCallbackPopup()">обратный звонок</button>
			</div>
			<div class="b-footer_column b-social">
				<a href="https://www.facebook.com/ContactRealEstate/" class="b-soc_item b-soc_item_fb" target="_blank" title=""></a>
				<a href="https://vk.com/public74262160" class="b-soc_item b-soc_item_vk" target="_blank" title=""></a>
				<a href="https://twitter.com/Contact_RE?cn=ZmlmdGVlbl9kYXlfcmVz" class="b-soc_item b-soc_item_tw" target="_blank" title=""></a>
			</div>
		</div>
	</div>
</footer>