<div class="b-form">
	<div class="b-form_inner">
		<h2 class="b-title m-title_white">Оставить заявку</h2>
		<form class="b-form_fields" name="orderForm" novalidate ng-submit="sendOrderForm()">
			<input type="text" class="b-form_input" ng-model="orderFormData.name" ng-minlength="2" ng-maxlength="20" placeholder="Имя" required="">
			<input type="tel" class="b-form_input" ng-model="orderFormData.phone" ng-minlength="10" ng-maxlength="30" placeholder="Телефон" required>
			<button class="b-button-send-form m-button-send-form_contact" type="submit">оставить заявку</button>
		</form>
	</div>
</div>