<div class="b-subscription">
	<div class="b-subscription_inner">
		<h3 class="b-title m-title_white">Подписаться на обновления</h3>
		<form class="b-subscription_fields" name="subForm" novalidate ng-submit="sendSubForm()">
			<input class="b-subscription_input" type="text" placeholder="Как Вас зовут?" ng-model="subFormData.name" ng-minlength="2" ng-maxlength="20" placeholder="Имя" required="">
			<input class="b-subscription_input" type="email" placeholder="E-MAIL" ng-model="subFormData.email" ng-minlength="5" ng-maxlength="30" placeholder="Телефон" required="">
			<button class="b-button-sign" type="submit">Подписаться</button>
		</form>
	</div>
</div>
