.b-footer {
  background: $pale-blue;
  border-top: 1px solid #cbd1d7;
  padding: 40px 0 30px;
  min-width: 1200px;
  .l-inner {
    display: table;
    width: 900px;
    min-height: 10vh;
    margin: 0 auto;
  }
  &_row {
    display: table-row;
  }
  &_column {
    display: table-cell;
    box-sizing: border-box;
  }
}